@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh; /* Use min-height instead of height for better flexibility */
}

/* Quill Editor Styling */
.ql-editor {
  font-size: 1.05rem;
  line-height: 1.5;
}

/* Heading Styles */
.post-content h1,
.post-content h2 {
  margin: 1.5rem 0;
  font-family: sans-serif;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.post-content h2 {
  font-size: 1.4rem;
}

/* Paragraph Styles */
.post-content p {
  margin-bottom: 0.5rem;
}

/* List Styles */
.post-content ul li,
.post-content ol li {
  margin: 1.15rem 0;
  margin-left: 1.3rem;
}

.post-content ul li {
  list-style-type: circle;
}

.post-content ol li {
  list-style-type: decimal;
}

/* Link Styling */
.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

/* Link Focus Styles (for better accessibility) */
.post-content a:focus {
  outline: 2px solid rgb(73, 149, 199);
}

/* Code Block Styles */
.post-content pre {
  background-color: rgb(30, 41, 59);
  border: 1px solid rgb(61, 69, 83);
  color: rgb(232, 231, 231);
  padding: 0.75rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  overflow-x: auto; /* Ensure long code lines scroll horizontally */
  word-wrap: break-word; /* Allow code to wrap in case of long lines */
  max-width: 100%; /* Prevent code from stretching too far */
}

/* Inline Code Styles */
.post-content code {
  background-color: rgb(236, 236, 236);
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
}

/* Dark Mode Specific Styles */
.dark .post-content code {
  background-color: rgb(30, 41, 59);
  border: 1px solid rgb(61, 69, 83);
}

.dark .post-content pre {
  background-color: rgb(40, 51, 71); /* Darker background */
  border: 1px solid rgb(61, 69, 83);
  color: rgb(232, 231, 231); /* Lighter text */
}

/* Quill Editor's Code Block Styling */
.ql-snow pre {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  overflow-x: auto;
}

.ql-snow code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  color: #333;
}
